<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="digestName">
	<f:translate key="tx_rhmajordomo_domain_model_emaillist.digest_name" />
</label><br />
	<f:form.textfield property="digestName" /><br />
<label for="listName">
	<f:translate key="tx_rhmajordomo_domain_model_emaillist.list_name" />
</label><br />
	<f:form.textfield property="listName" /><br />
<label for="listEmailAddress">
	<f:translate key="tx_rhmajordomo_domain_model_emaillist.list_email_address" />
</label><br />
	<f:form.textfield type="email" property="listEmailAddress" /><br />
<label for="emailModerator">
	<f:translate key="tx_rhmajordomo_domain_model_emaillist.email_moderator" />
</label><br />
	<f:form.textfield type="email" property="emailModerator" /><br />
<label for="approvePasswd">
	<f:translate key="tx_rhmajordomo_domain_model_emaillist.approve_passwd" />
</label><br />
	<f:form.textfield property="approvePasswd" /><br />
<label for="majordomoMailBox">
	<f:translate key="tx_rhmajordomo_domain_model_emaillist.majordomo_mail_box" />
</label><br />
	<f:form.textfield type="email" property="majordomoMailBox" /><br />
</html>