<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-rh-majordomo" >
	<tr>
		<td>
			<f:translate key="tx_rhmajordomo_domain_model_emaillist.digest_name" />
		</td>
		<td>
		{emailList.digestName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_rhmajordomo_domain_model_emaillist.list_name" />
		</td>
		<td>
		{emailList.listName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_rhmajordomo_domain_model_emaillist.list_email_address" />
		</td>
		<td>
		{emailList.listEmailAddress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_rhmajordomo_domain_model_emaillist.email_moderator" />
		</td>
		<td>
		{emailList.emailModerator}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_rhmajordomo_domain_model_emaillist.approve_passwd" />
		</td>
		<td>
		{emailList.approvePasswd}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_rhmajordomo_domain_model_emaillist.majordomo_mail_box" />
		</td>
		<td>
		{emailList.majordomoMailBox}
		</td>
	</tr>
</table>
</html>