<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">
</head>
<body>
    <f:translate key="tx_rhmajordomo_domain_model_emaillist.email.gredings" arguments="{0: '{user.first_name}', 1: '{user.last_name}'}" /><br />
    <br />
    <f:translate key="tx_rhmajordomo_domain_model_emaillist.email.content.subscribe" arguments="{0: '{emailList.listName}', 1: '{emailList.list_email_address}', 2: '{emailList.emailModerator}'}" /><br />
    
    <br />
    <f:translate key="tx_rhmajordomo_domain_model_emaillist.email.ending" />
</body>
</html>