<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="content">
		

		<f:flashMessages />
        <f:comment><f:debug title="My Title">{settings}</f:debug>
        <f:debug title="My Title">{feuser}</f:debug></f:comment>
                
        <f:if condition="{emailLists}">
        <f:then>
         <f:if condition="{settings.onlyFeusersEmail} == 0 || {settings.onlyFeusersEmail} == 1 && {feuser}">
            <f:then>
                
                <f:form method="post" action="post">
                    <f:if condition="{settings.onlyFeusersEmail}">
                        <f:then>
                            <f:translate key="tx_rhmajordomo_domain_model_emaillist.intro.feusermail" arguments="{0: '{feuser.email}'}" /><br />
                        </f:then>
                        <f:else>
                            <f:translate key="tx_rhmajordomo_domain_model_emaillist.intro.anymail" /><br />
                            <label for="commandmail[]"><f:translate key="tx_rhmajordomo_domain_model_emaillist.lableMail" />:</label> 
                            <f:form.textfield value="{feuser.email}" name="commandmail[]" type="email" /><br />
                       </f:else>
                    </f:if>
                        
                    <label for="emailListID[]"><f:translate key="tx_rhmajordomo_domain_model_emaillist.lableList" />:</label>
                        <f:form.select name="emailListID[]">
                            <f:form.select.option value="null"><f:translate key="tx_rhmajordomo_domain_model_emaillist.select.default" /></f:form.select.option>
                            <f:for each="{emailLists}" as="emailList">
                                <f:form.select.option value="{emailList.uid}">{emailList.listName}</f:form.select.option>
                            </f:for>
                         </f:form.select>
                        <br />
                    <label for="command[]"><f:translate key="tx_rhmajordomo_domain_model_emaillist.lableComand" />:</label>
                        <f:form.select name="command[]">
                            <f:form.select.option value="subscribe"><f:translate key="tx_rhmajordomo_domain_model_emaillist.select.subscribe" /></f:form.select.option>
                            <f:form.select.option value="unsubscribe"><f:translate key="tx_rhmajordomo_domain_model_emaillist.select.unsubscribe" /></f:form.select.option>                            
                         </f:form.select>
                    <br />
                    <b><f:translate key="tx_rhmajordomo_domain_model_emaillist.outtro.dataprotectionnoitceHeader"  /></b><br />
                    <f:if condition="{settings.onlyFeusersEmail}">
                        <f:then>
                            <f:translate key="tx_rhmajordomo_domain_model_emaillist.outtro.dataprotectionnoitce" arguments="{0: '{feuser.email}'}" /><br />
                        <f:if condition="{settings.sendAckMessageToModerator}">
                            <f:then>
                                <f:translate key="tx_rhmajordomo_domain_model_emaillist.outtro.moderatorack" /><br />
                            </f:then>
                        </f:if>
                        </f:then>
                        <f:else>
                             <f:translate key="tx_rhmajordomo_domain_model_emaillist.message.verificationlink" arguments="{0: '{settings.lifetimeEmailVerification}'}"/>
                            <f:translate key="tx_rhmajordomo_domain_model_emaillist.outtro.dataprotectionnoitcewithouteamil" /><br />
                        <f:if condition="{settings.sendAckMessageToModerator}">
                            <f:then>
                                <f:translate key="tx_rhmajordomo_domain_model_emaillist.message.verificationlinkmoderatorack" /><br />
                            </f:then>
                        </f:if>
                        </f:else>
                    </f:if>
                    
                         
                        <f:form.submit value="{f:translate(key: 'tx_rhmajordomo_domain_model_emaillist.button.submit')}" />
                </f:form>
                
                



    </f:then>
    <f:else>
        <f:translate key="tx_rhmajordomo_domain_model_emaillist.message.notloggedin"/>
    </f:else>
</f:if>

        </f:then>
        <f:else>
<f:translate key="tx_rhmajordomo_domain_model_emaillist.error.nolistfound" />
    </f:else>
</f:if>



                
           <f:comment>     
		<table  class="tx_rhmajordomo" >
			<tr>
				<th><f:translate key="tx_rhmajordomo_domain_model_emaillist.digest_name" /></th>
				<th><f:translate key="tx_rhmajordomo_domain_model_emaillist.list_name" /></th>
				<th><f:translate key="tx_rhmajordomo_domain_model_emaillist.sender" /></th>
				<th><f:translate key="tx_rhmajordomo_domain_model_emaillist.email_moderator" /></th>
				<th><f:translate key="tx_rhmajordomo_domain_model_emaillist.approve_passwd" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{emailLists}" as="emailList">
				<tr>
					<td><f:link.action action="show" arguments="{emailList : emailList}"> {emailList.digestName}</f:link.action></td>
					<td><f:link.action action="show" arguments="{emailList : emailList}"> {emailList.listName}</f:link.action></td>
					<td><f:link.action action="show" arguments="{emailList : emailList}"> {emailList.sender}</f:link.action></td>
					<td><f:link.action action="show" arguments="{emailList : emailList}"> {emailList.emailModerator}</f:link.action></td>
					<td><f:link.action action="show" arguments="{emailList : emailList}"> {emailList.approvePasswd}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{emailList : emailList}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{emailList : emailList}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New EmailList</f:link.action>
                </f:comment>
	</f:section>
        <f:section name="renderPlugin">

            {rhmajordomo:data.contentListOptions(listType: listType)}
            <f:cObject typoscriptObjectPath="tt_content.list" data="{contentObjectData}" table="tt_content"/>

         </f:section>
</html>
